<ion-view>
  <ion-content class="detail-view">
    <div>
      <div class="card">
        <div class="card-content">

          <span class="card-title">Dealer's name</span>
          <p>Dealer's info</p>

        </div>
        <div class="card-action footer">
          <div class="fixed-action-btn horizontal directions">
            <a class="btn-floating btn-large" ng-click="navigate(location.lat, location.lng)">
              <i class="material-icons">directions_car</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
