<ion-view>
  <ion-content class="detail-view">
    <div>
      <div class="card">
        <div class="card-content">

          <span class="card-title">{{location.name}}</span>
          <p>{{location.address}}</p>
          <p>{{location.shedHours}}</p>

          <div class="card-facilities">
            <img src="img/toilet.png" ng-show="location.tags.indexOf('Toilets') > -1">
            <img src="img/cart.png" ng-show="location.tags.indexOf('Super Market') > -1">
            <img src="img/atm.png" ng-show="location.tags.indexOf('ATMs - HNB') > -1">
          </div>

          <div class="phone" ng-show="location.phone">
            <i class="ion-ios-telephone"></i>
            {{location.phone}}
          </div>

          <div class="section petrol" ng-show="location.petrol && location.petrol.trim() != ''">
            <h5 class="section-title"> Available Petrol Types </h5>
            <div class="row">
              <div class="col s6" ng-repeat="ptype in location.petrol">
                <i class="orange-tick material-icons"> done </i> {{ ptype }}
              </div>
            </div>
          </div>

          <div class="diesel" ng-show="location.diesel && location.diesel.trim() != ''">
            <h5 class="section-title"> Available Diesel Types </h5>
              <div class="row">
                <div class="col s6" ng-repeat="dtype in location.diesel">
                  <i class="orange-tick material-icons"> done </i> {{ dtype }}
                </div>
              </div>
          </div>

        </div>
        <div class="card-action footer">

          <p ng-show="location.distance">{{location.distance}}s away (Approx. {{location.approxTime}})</p>

          <div class="fixed-action-btn horizontal directions">
            <a class="btn-floating btn-large" ng-click="navigate(location.lat, location.lng)">
              <i class="material-icons">directions_car</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
