<ion-view hide-nav-bar="true">
  <ion-content class="detail-view">
    <div class="initial-settings">
      <div class="header">
        <div>
          <img src="img/fuelme_logo.png">
        </div>
        <div class="title main-title">
          Welcome to Fuel Me
        </div>
        <div class="title sub-title">
          Set your fuel preferences to begin
        </div>
      </div>
      <div>
        <settings></settings>
        <div class="waves-effect waves-light btn save" ng-click="saveAndContinue()">
          Save and Continue
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
