
body
    nav.teal
      .nav-wrapper
        a.brand-logo(href='play') PlayMyWay
          span.song-title {{currSong._name}}
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(ui-sref='/') Playlist
        .center.playercontrols
          button.control.prev(ng-click='previous()') Prev
          button.control.play(ng-click='play()', ng-hide='player.playing') Play
          button.control.pause(ng-click='pause()', ng-show='player.playing') Pause
          button.control.next(ng-click='next()') Next

        input.vol-slider(ng-change='changeVol()' ng-model="volume" type="range")

.container
  .row
    .col.s12
      div(ng-repeat="song in songs")
        .col.s8.offset-s2
          .card-panel.blue
            .white-text
              {{song.name}}

