doctype html
html(ng-app='dankotuwaApp', lang='en')
  head
    meta(name='fragment', content='!')
    title #{title}
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src='/lib/angular/angular.min.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/lib/moment/min/moment.min.js')
    script(src='/lib/angular-moment/angular-moment.min.js')
    script(src='/lib/lodash/dist/lodash.min.js')
    script(src='/lib/socket.io-client/socket.io.js')
    script(src='/lib/a0-angular-storage/dist/angular-storage.min.js')
    script(src='/lib/angular-sanitize/angular-sanitize.min.js')
    script(src='/lib/ng-csv/build/ng-csv.min.js')
    script(src='/lib/angular-modal-service/dst/angular-modal-service.min.js')
    script(src='/lib/papaparse/papaparse.min.js')
    script(src='/lib/auth0.js/build/auth0.min.js')
    script(src='/lib/angular-auth0/dist/angular-auth0.js')
    script(src='/lib/angular-jwt/dist/angular-jwt.js')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/stylesheets/grid.css', rel='stylesheet')
    link(href='/stylesheets/styles.css', rel='stylesheet')
    link(href="/lib/components-font-awesome/css/font-awesome.min.css", rel='stylesheet')
  body(ng-controller='rootCtrl', ui-view='main')
  .row
    a(href='/')
      .col.two.nav-header
        p Dankotuwa
    .col.ten.content-header
      .content-header-name(ng-bind='$state.current.params.pageTitle')
      span.newOrdersAvailable(ng-if='newOrders', ng-click='reloadOrders()') Click to see new orders
      .search-input
        i.fa.fa-search.search-icon(ng-if='$state.current.params.pageTitle=="Sales Orders"')
        input.sales-order-search-btn(type='text', placeholder='Search', autocomplete='off', ng-model='search', ng-hide='$state.current.params.pageTitle!="Sales Orders"')
        .dropdown
          input.dropdown-toggle(type='text')
          .settings-icon
            i.fa.fa-ellipsis-v
          ul.dropdown-content
            li
              a(ui-sref='settings') Settings
            li
              a(ng-click='logout()') Logout
  .row
    .col.two.nav-content
      .row
        .col.eight
          h4.reps-header Sales Reps&nbsp&nbsp
        .reps-message.col.four
          i(ng-click='pushnotify()').fa.fa-envelope
      ul.reps-list
        li(ng-repeat='rep in reps')
          .repName
            span &nbsp&nbsp&nbsp{{rep.UserName}}
          div
            span(ng-class="{'newOrderCount': rep.newOrders > 0}") {{rep.newOrders || 0}}

      br
      br
      br
      .datefilter
        span From
        br
        input(type='date', name='invoiced', ng-model='date.start', ng-disabled='$state.current.params.pageTitle!="Sales Orders"')
        br
        span To
        br
        input(type='date', name='invoiced', ng-model='date.end', ng-disabled='$state.current.params.pageTitle!="Sales Orders"')
        button.button.button-dark.filter-btn(ng-click='filter()', ng-disabled='$state.current.params.pageTitle!="Sales Orders"')
          i.fa.fa-filter &nbsp&nbspFilter
    .col.ten.content-body
      section(ui-view='content')
  .row
    .col.tweleve.footer
    script(src='/js/main.js')
    script(src='/js/controllers/RootCtrl.js')
    script(src='/js/controllers/OrderCtrl.js')
    script(src='/js/controllers/DetailViewCtrl.js')
    script(src='/js/controllers/SettingsCtrl.js')
    script(src='/js/controllers/LoginCtrl.js')
    script(src='/js/services/APIService.js')
    script(src='/js/services/SocketService.js')
    script(src='/js/services/AuthService.js')
