h2.center-align Login
.row
  form.col.s6.offset-s3(ng-submit='login()')
    .row
      .input-field.col.s12
        input(type='text', ng-model='user.username')
        label(for='text') Username
    .row
      .input-field.col.s12
        input(type='password', ng-model='user.password')
        label(for='pass') Password
    .row
      .col.s12
        p
          input#remember(type='checkbox')
          label(for='remember') Remember me
    .divider
    .row
      .col.m12
        p.right-align
          button.btn.btn-large.waves-effect.waves-light(type='submit') Login
