body
  .row
    div.col.two.nav-header
      p Dankotuwa
    div.col.ten.content-header
      div.content-header-name Sales Orders
      span(ng-if='newOrders', ng-click='reloadOrders()').newOrdersAvailable Click to see new orders
      input.sales-order-search-btn(type='text', placeholder='Search', autocomplete='off', ng-model="search")

  .row
    div.col.two.nav-content
      h4.reps-header Sales Reps
      ul.reps-list
        li(ng-repeat="rep in reps")
          div.repName
            span &nbsp&nbsp&nbsp{{rep.UserName}}
          div
            span(ng-class="{'newOrderCount': rep.newOrders > 0}") {{rep.newOrders || 0}}

      br

      div.invoiced
        input(type='checkbox', name='invoiced')
        | Show only invoiced sales

      br
      br
      br

      div.datefilter
        span From
        br
        input(type='date', name='invoiced')
        br
        span To
        br
        input(type='date', name='invoiced')

    div.col.ten.content-body
      div(ng-repeat="order in orders | filter: search")
        da-order(order="order")
  .row
    div.col.tweleve.footer
  
