.body-col
  div.head
    div.row
      div.dealer-name.col.three
        p {{order.Name}}
      div.city.col.seven
        p Kadawatha
      div.item-count.col.two
        p {{order.items.length}}
  div.items
  div.time
    p {{order.epoch}}
