div(ng-repeat="order in orders | filter: search")
  .body-col
    a(href='', ng-click="goToDetailView(order)")
      div.row
        div.col.ten
          div.head
            div.row
              div.dealer-name.col.four
                p {{order.name}}
              div.city.col.eight
                p Kadawatha
          div.time
            p(am-time-ago='order.epoch | amFromUnix')
        div.col.item-count.two
          p(ng-if="order.items.length > 1") {{order.items.length}} Items
          p(ng-if="order.items.length == 1") {{order.items.length}} Item
