.settings-view
  .row
    .col.tweleve.settings-heading
      p Update
  .row
    .col.four
      p Update category database
    .col.eight
      input(type='file').db-input
  .row
    .col.four
      p Update product database
    .col.eight
      input(type='file').db-input
  .row
    .col-three
      button.button(ng-click="getLists()") Update Db
  .row
    .col.tweleve.settings-heading
      p Reports
  .row
    .col.twelwe
      p Download sales orders as CSV
  .row
    .col.one
      span From
    .col.two
      input(type='date', ng-model='date.start')
    .col.one
      span To
    .col.two
      input(type='date', ng-model='date.end')
  .row
    .col.three
      button.button.report-download-btn(ng-csv="generateReport()", filename="data.csv") Export to CSV
      
