.settings-view
  .row
    .col.tweleve.settings-heading
      p Update
  .row
    .col.four
      p Update product database
    .col.eight
      input(type='file').db-input
  .row
    .col.four
      p Update product database
    .col.eight
      input(type='file').db-input

  .row
    .col.tweleve.settings-heading
      p Reports
  .row
    .col.twelwe
      p Download sales orders as CSV
  .row
    .col.one
      span From
    .col.two
      input(type='date')
    .col.one
      span To
    .col.two
      input(type='date')
  .row
    .col.three
      button.button.report-download-btn Download
      
