.mainframe{
	padding: 6px;
}
.mainwrapper{
	font-size: 40;
	text-align: center; 
}
.topicunderline{
	box-shadow: 0 0 5px 1px black;
}
.repheading{
	font-size: 30;
	margin-top: 3%;
	margin-left: 3%;
}
.replocation{
	font-size: 20;
	color: #B5BEB2;
	margin-left: 60;
}
.repdetails{
	text-align: left;
	margin-top: 5% 

}
.Signature{
	text-align: right;
	margin-top: 5%
	margin-right: 20%
}
.sign{
	margin-right: 10%;
}