# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

mobile/node_modules/
mobile/platforms/
mobile/plugins/
mobile/www/lib/
mobile/www/css/
mobile/
mobile/.io-config.json

backend/node_modules/
backend/coverage/
