sudo: required
language: node_js
node_js:
  - "0.12"
services:
  - mysql
before_script:
  - mysql -u root -e 'CREATE DATABASE dankotuwa;'
  - mysql -u root dankotuwa < backend/db.sql
  - cd backend
  - npm install
  - npm install -g codecov
  - npm install -g istanbul
script:
  - npm test
  - codecov
