language: node_js
node_js:
  - "0.12"
services:
  - mysql
before_script:
  - mysql -u root -e 'CREATE DATABASE dankotuwa;'
  - mysql -u root dankotuwa < db.sql
script: cd backend && npm install && npm test
