/*------------------------------*\
    Grid System
\*------------------------------*/

.row,
.col {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col {
    position: relative;
    float: left;
    display: block;
}

.one {
    width: 6.86666666667%;
}

.two {
    width: 15.3333333333%;
}

.three {
    width: 23.8%;
}

.four {
    width: 32.2666666667%;
}

.five {
    width: 40.7333333333%;
}

.six {
    width: 49.2%;
}

.seven {
    width: 57.6666666667%;
}

.eight {
    width: 66.1333333333%;
}

.nine {
    width: 74.6%;
}

.ten {
    width: 84.666666667%;
}

.eleven {
    width: 91.5333333333%;
}

.twelve {
    width: 100%;
    margin-left: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Muli", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0;
}

hr {
  border-top: 1px solid #eee;
}

.row:last-child {
    margin-bottom: 0;
}

.col .col {
    color: #eee;
    background: #333;
    border-color: #000;
}
