.nav-header {
  background: #3e313c;
  color: #777;
  padding: 5px;
  min-height: 30px;
  border-bottom: 1px solid #4d394b;
  min-height: 63px;
}

.nav-header p {
  text-align: center;
  color: white;
  font-size: 2.125rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.reps-header {
  padding-left: 10px;
  color: #ab9ba9;
  text-transform: uppercase;
}

.reps-header:hover, .reps-message:hover {
  transition: color 0.5s ease;
  color: #fff!important;
}

.reps-message {
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  color: #ab9ba9!important;
  text-align: center;
  cursor: pointer;
}

.reps-list {
  list-style-type: none;
  padding: 0;
  cursor: poisnter;
}

.datefilter {
  text-align: center;
}

.reps-list > li:hover {
  background: #352933;
}

.nav-content {
  background: #4d394b;
  color: #ab9ba9;
  padding: 5px;
  min-height: 30px;
  border-bottom: 1px solid #4d394b;
  min-height: 90.8vh;
}

.content-header {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  padding: 5px;
  min-height: 63px;
}

.content-header-name {
  padding-top: 13px;
  font-size: 18px;
  color: #2c2d30;
  font-weight: 700;
  padding-left: 4rem;
  width: 120px;
  display: inline-block;2
}

.sales-order-search-btn, .actual-quantity-input {
  margin-left: 0%;
  height: 2.5rem;
  width: 12.75rem;
  display: inline-block;
  vertical-align: middle;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .125rem;
  padding-bottom: .125rem;
  font-size: 1.5rem;
  border-radius: .55rem;
  background: #FFF;
  border: 1px solid rgba(214,214,214,.61);
}

.sales-order-search-btn:focus:enabled, .sales-order-search-btn:hover:enabled, .actual-quantity-input:focus, .actual-quantity-input:hover {
  transition: border-color 0.4s ease;
  border-color: #2780f8;
  outline: 0;
}

.invoiced {
  padding-left: 10px;
}

.body-col {
  position: relative;
  border: 1px solid #C9CEED;
  .rounded(4px);
  margin-top: 10px;
  margin-bottom: 3px;
  padding: 5px;
  width: 87%;
  left: 5rem;
  border-radius: 10px;
  padding-left: 30px;
}

.body-col:hover {
  background-color: #f9f9f9;
}

.content-body {
  height: 90.8vh;
  overflow: auto;
}

.dealer-name {
  font-size: x-large;
}

.city, .item-count {
  padding-top: 18px;
}

.head {
  height: 53px;
  overflow: hidden;
}

.time {
  color: #737373;
}

.item-count {
  font-size: x-large;
}

.repName {
  width: 80%;
  float: left;
}

.newOrderCount {
  color: #fff;
  background: #eb4d5c;
  position: relative;
  right: 7px;
  border-radius: 9px;
  padding: 2px 6px;
}

.newOrdersAvailable {
  color: #EB4D5C;
  cursor: pointer;
}

.button.-dark {
  color: #FFFFFF;
  background: #333030;
}
.button.-dark:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}

.button {
  overflow: hidden;
  margin: 10px;
  padding: 12px 60px;
  cursor: pointer;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  background-color: #3E313C;
}

.button:hover:enabled {
  opacity: .65;
}

.button:active {
  opacity: .75;
}

.dealer-title p {
  color: #333333;
  font-size: 2.125rem;
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 4rem;
}

.order-meta, .order-items {
  margin-left: 6rem;
  font-size: large;
}

.order-meta {
  position: relative;
  border: 1px solid #C9CEED;
  margin-top: 10px;
  margin-bottom: 3px;
  padding: 5px;
  width: 87%;
  border-radius: 10px;
  padding-left: 30px;
}

.order-items {
  position: relative;
  border: 1px solid #C9CEED;
  margin-top: 50px;
  margin-bottom: 3px;
  padding: 5px;
  width: 87%;
  border-radius: 10px;
  padding-left: 30px;
}

.orderId > p, .orderNumber > p, .date > p, .meta-value > p, .repName > p {
  margin: 0;
}

/*signature popup modal*/

#overlay {
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 25px;
  border: 2px solid black;
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  z-index: 100;
}

#fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

#close-btn {
  text-align: center;
}

#signature-img {
  margin-left: 30%;
}

#signature-btn {
  padding: 12px 12px;
  margin-left: 0px;
}

.actual-quantity-input {
  margin-top: 17px;
  width: 7.75rem;
  margin-left: 0px;
}

.search-input{
  float:right;
  margin-right: 29px;
}

.search-icon{
  margin-top: 10%;  
}

.done-btn {
  float: right;
}

.filter-btn {
  width: 130px;
  padding: 10px;
}

.remote > p {
  font-size: medium;
  color: #757575;
}

/*Settings*/
.settings-icon {
  float: right;
  margin-top: 1.8rem;
  margin-left: 30px;
  color: #4d394b;
}

.settings-view {
  margin-left: 6rem;
}

.settings-heading > p {
  color: #333333;
  font-size: 2.125rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.db-input {
  padding-top: 15px;
}

.update-db-btn {
  padding-left: 70px;
  padding-right: 70px;
}

.report-download-btn, .update-db-btn {
  margin-left: 0px;
  margin-top: 20px;
}

/*Push notification box*/

#push-overlay {
  position: fixed;
  left: 25%;
  top: 25%;
  background-color: #ffffff;
  width: 50%;
  height: 17em;
  z-index: 100;
  border-radius: 4px;
}

#push-close-btn {
  height: 0;
}

.push-head {
  padding-left: 0.4em;
  background: #4d394b;
  color: #ab9ba9;
  padding: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#push-head-title {
  padding-left: 5px;
}

#push-head-title > p {
  margin-bottom: 0;
}

#push-textbox {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  height: 160px;
  width: 99.1%;
  resize: none;
}

.send-btn {
  padding-left: 0.4em;
  background: #4d394b;
  color: #ab9ba9;
  padding: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  border: none;
  height: 40px;
  margin-top: -10px;
}

.send-btn:hover:enabled {
  opacity: .65;
}
