.nav-header {
  background: #3e313c;
  color: #777;
  padding: 5px;
  border-bottom: 1px solid #4d394b;
  min-height: 63px;
}

.nav-header p {
  text-align: center;
  color: white;
  font-size: 2.125rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.reps-header {
  padding-left: 10px;
  color: #ab9ba9;
  text-transform: uppercase;
}

.reps-header:hover, .reps-message:hover {
  transition: color 0.5s ease;
  color: #fff!important;
}

.reps-message {
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  color: #ab9ba9!important;
  text-align: center;
  cursor: pointer;
}

.reps-list {
  list-style-type: none;
  padding: 0;
  cursor: poisnter;
}

.datefilter {
  text-align: center;
}

.reps-list > li:hover {
  background: #352933;
}

.nav-content {
  background: #4d394b;
  color: #ab9ba9;
  padding: 5px;
  min-height: 30px;
  border-bottom: 1px solid #4d394b;
  min-height: 90.8vh;
}

.content-header {
  background: #fff;
  border: 1px solid #ccc;
  color: #777;
  padding: 4px;
  min-height: 63px;
}

.content-header-name {
  padding-top: 13px;
  font-size: 18px;
  color: #2c2d30;
  font-weight: 700;
  padding-left: 4rem;
  width: 120px;
  display: inline-block;2
}

.sales-order-search-btn, .actual-quantity-input {
  position: relative;
  bottom: 7px;
  margin-left: 0%;
  height: 2.5rem;
  width: 12.75rem;
  display: inline-block;
  vertical-align: middle;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .125rem;
  padding-bottom: .125rem;
  font-size: 1.5rem;
  border-radius: .55rem;
  background: #FFF;
  border: 1px solid rgba(214,214,214,.61);
}

.sales-order-search-btn:focus:enabled, .sales-order-search-btn:hover:enabled, .actual-quantity-input:focus, .actual-quantity-input:hover {
  transition: border-color 0.4s ease;
  border-color: #2780f8;
  outline: 0;
}

.invoiced {
  padding-left: 10px;
}

.body-col {
  position: relative;
  border: 1px solid #C9CEED;
  .rounded(4px);
  margin-top: 10px;
  margin-bottom: 3px;
  padding: 5px;
  width: 87%;
  left: 5rem;
  border-radius: 10px;
  padding-left: 30px;
}

.body-col:hover {
  background-color: #f9f9f9;
}

.content-body {
  height: 90.8vh;
  overflow: auto;
}

.dealer-name {
  font-size: x-large;
}

.city, .item-count {
  padding-top: 18px;
}

.head {
  height: 53px;
  overflow: hidden;
}

.time {
  color: #737373;
}

.item-count {
  font-size: x-large;
}

.repName {
  width: 80%;
  float: left;
}

.newOrderCount {
  color: #fff;
  background: #eb4d5c;
  position: relative;
  right: 7px;
  border-radius: 9px;
  padding: 2px 6px;
}

.newOrdersAvailable {
  color: #EB4D5C;
  cursor: pointer;
}

.button.-dark {
  color: #FFFFFF;
  background: #333030;
}
.button.-dark:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}

.button {
  overflow: hidden;
  margin: 10px;
  padding: 12px 60px;
  cursor: pointer;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  background-color: #3E313C;
}

.button:hover:enabled {
  opacity: .65;
}

.button:active {
  opacity: .75;
}

.dealer-title p {
  color: #333333;
  font-size: 2.125rem;
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 4rem;
}

.order-meta, .order-items {
  margin-left: 6rem;
  font-size: large;
}

.order-meta {
  position: relative;
  border: 1px solid #C9CEED;
  margin-top: 10px;
  margin-bottom: 3px;
  padding: 5px;
  width: 87%;
  border-radius: 10px;
  padding-left: 30px;
}

.order-items {
  position: relative;
  border: 1px solid #C9CEED;
  margin-top: 50px;
  margin-bottom: 3px;
  padding: 5px;
  width: 87%;
  border-radius: 10px;
  padding-left: 30px;
}

.orderId > p, .orderNumber > p, .date > p, .meta-value > p, .repName > p {
  margin: 0;
}

/*signature popup modal*/

#overlay {
  position: fixed;
  left: 25%;
  top: 25%;
  padding: 25px;
  border: 2px solid black;
  background-color: #ffffff;
  width: 50%;
  height: 50%;
  z-index: 100;
}

#fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}

#close-btn {
  text-align: center;
}

#signature-img {
  margin-left: 30%;
}

#signature-btn {
  padding: 12px 12px;
  margin-left: 0px;
}

.button-disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.actual-quantity-input {
  margin-top: 17px;
  width: 7.75rem;
  margin-left: 0px;
}

.search-input{
  float:right;
  margin-right: 29px;
}

.search-icon{
  position: relative;
  bottom: 5px;
}

.done-btn {
  float: right;
}

.filter-btn {
  width: 130px;
  padding: 10px;
}

.remote > p {
  font-size: medium;
  color: #757575;
}

/*Settings*/
.settings-icon {
  float: right;
  margin-top: 1.8rem;
  margin-left: 30px;
  color: #4d394b;
}

.settings-view {
  margin-left: 6rem;
}

.settings-heading > p {
  color: #333333;
  font-size: 2.125rem;
  margin-bottom: 0;
  margin-top: 2rem;
}

.db-input {
  padding-top: 15px;
}

.update-db-btn {
  padding-left: 70px;
  padding-right: 70px;
}

.report-download-btn, .update-db-btn {
  margin-left: 0px;
  margin-top: 20px;
}

/*Push notification box*/

#push-overlay {
  position: fixed;
  left: 25%;
  top: 25%;
  background-color: #ffffff;
  width: 50%;
  height: 17em;
  z-index: 100;
  border-radius: 4px;
}

#push-close-btn {
  height: 0;
}

.push-head {
  padding-left: 0.4em;
  background: #4d394b;
  color: #ab9ba9;
  padding: 5px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#push-head-title {
  padding-left: 5px;
}

#push-head-title > p {
  margin-bottom: 0;
}

#push-textbox {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  height: 160px;
  width: 99.1%;
  resize: none;
}

.send-btn, .confirm-btn {
  padding-left: 0.4em;
  background: #4d394b;
  color: #ab9ba9;
  padding: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  border: none;
  height: 40px;
  margin-top: -10px;
}

.send-btn:hover:enabled, .confirm-btn:hover:enabled,, .deny-btn:hover:enabled {
  opacity: .65;
}

/*Navbar dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
  width: 100%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: #333;
  text-shadow: 0 1px #fff;
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 140px;
  right: 0px;
  z-index: 3;
}

.dropdown-content a {
  display: block;
  text-decoration: none
}

.dropdown-content a:hover {
  background: #e8e8e8;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #e8e8e8;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}

/*Login page*/

.login-background {
  background: linear-gradient(to left, #ECECEC, #ECECEC);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.outer-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.outer-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #446CB3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-heading {
  font-size: 35px;
  font-weight: 400;
  line-height: 96px;
}

.outer-form button:hover,.outer-form button:active,.form button:focus {
  background: rgba(68, 108, 179, 0.83);
}

#confirm-overlay {
  background-color: #FAFAFA;
  border-radius: 3px 3px 3px 3px;
  box-sizing: border-box;
  padding: 20px 20px 12px 20px;
  position: fixed;
  left: 50%;
  margin-left: -200px;
  top: 200px;
  width: 400px;
  z-index: 100;
}

.deny-btn {
  padding-left: 0.4em;
  background: #D0D0D0;
  color: #2D2D2D;
  padding: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 100%;
  border: none;
  height: 40px;
  margin-top: -10px;
}

.deny-btn:hover {

}
