<div>
  <div ng-click="goToDetailView()" class="card">
    <div class="card-content">

      <span class="card-title">{{location.name}}</span>
      <p class="card-distance" ng-show="location.distance">{{location.distance}}s away (Approx. {{location.approxTime}})</p>
      <p class="card-address">{{location.address}}</p>
      <p class="card-hours">{{location.shedHours}}</p>


      <div class="card-facilities footer">
        <p class="footer-item tag" ng-show="location.diesel.length > 1 || location.petrol.length > 1">
          <i class="material-icons">done</i>
          PREMIUM FUEL
        </p>
        <p class="footer-item tag" ng-show="location.tags.indexOf('Nitrogen Air') !== -1">
          <i class="material-icons">done</i>
          NITROGEN
        </p>

        <div class="facilities footer-item">
          <img src="img/toilet.png" ng-show="location.tags.indexOf('Toilets') > -1">
          <img src="img/cart.png" ng-show="location.tags.indexOf('Super Market') > -1">
          <img src="img/atm.png" ng-show="location.tags.indexOf('ATMs - HNB') > -1">
        </div>
      </div>

    </div>
  </div>
</div>
