<ion-view view-title="Dealer details">
  <ion-content class="detail-view">
    <div>
      <div class="card">
        <div class="card-content dealer-info">

          <div class="contact-info">
            <span class="card-title dealer-name">{{location.name}}</span>
            <p class="dealer-address">{{location.address}}</p>
          </div>
          <hr size="1px">
            <div class="phone" ng-show="location.phone">
              <a ng-href="tel: +94 {{ location.phone }}">
                <div class="phone-icon"><img class="phone-img" src="img/phone.png" width="16"></div>
              </a>
                {{location.phone}}
            </div>
        </div>
        <div class="card-action footer">
          <a ng-click="goToPlaceOrderView()">Place order</a>
          <a ng-click="navigate(location.lat, location.lng)">Get directions</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
