<ion-view view-title="OrderView">
  <ion-content class="order-view">
    <div class="order-group">
      <form ng-submit="submit()">
        <div class="order-submit-btn">
          <button type="submit" class="button button-positive">
            Submit
          </button>
        </div>
        <div ng-repeat="item in items" new-Item="item"></div>
      </form>
      <div class="order-fabs">
        <a ng-click="addItem()" class="btn-floating btn-large waves-effect waves-light purple-btn center-btn"><i class="material-icons">add</i></a>
      </div>
    </div>
  </ion-content>
</ion-view>
