<ion-view view-title="Order">
  <ion-content class="order-view">
    <div class="order-group">
      <form ng-submit="submit()">
        <div class="order-submit-btn">
          <button type="submit" class="button button-positive submit-order-btn">
            Submit
          </button>
        </div>
        <div ng-repeat="item in items" new-Item="item" products="products" categories="categories" on-remove="items.splice($index,1)"></div>
      </form>
      <div class="order-fabs">
          <a ng-click="addItem()" class="floating-button waves-effect waves-light center-btn"><i class="material-icons map-icons">add</i></a>
      </div>
      <button ng-click="print()" class="button button-warning print">
        <i class="material-icons order-icons">print</i> Print
      </button>
      <button ui-sref="app.signature" class="button button-warning print">
        <i class="material-icons order-icons">vpn_key</i> Signature
      </button>
    </div>
  </ion-content>
</ion-view>
