<div class="card">
  <div class="card-content">
    <span class="card-title">Add item</span>
    <span ng-click="onRemove()">
      <i class="material-icons delete-icon">clear</i>
    </span>

    <label class = "item item-input item-select">
       <div class = "input-label">
          Product
       </div>

       <select required ng-model="aItem.product" ng-options="item as item.ProductName for item in products"></select>
    </label>

    <label class = "item item-input item-select">
       <div class = "input-label">
          Category
       </div>

       <select required ng-model="aItem.category" ng-options="item as item.CategoryName for item in categories"></select>
    </label>

    <label required class="item item-input">
      <span class="input-label">Quantity</span>
      <input type="number" min="0" class="quantity" ng-model="aItem.quantity">
    </label>

  </div>

</div>
