<ion-modal-view hide-back-button="true">
  <ion-header-bar>
    <h1 class="title">Welcome</h1>
  </ion-header-bar>
  <ion-content>
    <h4 class="text-center padding-top-10"> Hello Udara</h4>
    <div class="text-center">
      <span > Are you ready to start working?</span>
    </div>
    <div class="padding-top-10">
      <button class="button button-block button-positive " ng-click="start()">
        Yes
      </button>
      <button class="button button-block button-assertive" ng-click="close()"> No. Take me out of here</button>
    </div>
  </ion-content>
</ion-modal-view>
